<nav class="navbar navbar-light bg-white shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('contact_home') }}">
            <img src="{{ asset('img/logo-batiactu.png') }}" alt="logo" height="43">
        </a>
        <a href="{{ path('contact_login') }}" class="btn btn-secondary rounded-0 text-end">Login</a>
    </div>
</nav>